asgiref==3.7.2; python_version >= "3.8"
attrs==23.1.0; python_version >= "3.8"
django-cors-headers==4.2.0; python_version >= "3.8"
django==4.2.6; python_version >= "3.8"
djangorestframework==3.14.0; python_version >= "3.6"
drf-spectacular==0.26.5; python_version >= "3.6"
gunicorn==21.2.0; python_version >= "3.5"
inflection==0.5.1; python_version >= "3.6"
jsonschema-specifications==2023.7.1; python_version >= "3.8"
jsonschema==4.19.1; python_version >= "3.8"
packaging==23.2; python_version >= "3.7"
pillow==10.0.1; python_version >= "3.8"
psycopg2-binary==2.9.9; python_version >= "3.7"
pytz==2023.3.post1; python_version >= "3.6"
pyyaml==6.0.1; python_version >= "3.6"
referencing==0.30.2; python_version >= "3.8"
rpds-py==0.10.4; python_version >= "3.8"
sqlparse==0.4.4; python_version >= "3.8"
typing-extensions==4.8.0; python_version < "3.11" and python_version >= "3.8"
tzdata==2023.3; sys_platform == "win32" and python_version >= "3.8"
uritemplate==4.1.1; python_version >= "3.6"
